html, body {
  background-color: #181616;
  height: 100%;
  margin: 0px;
  font-family: 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  scroll-snap-align: start;
  overflow-x: hidden;
  overflow-wrap: anywhere;
}

h1, h2 {
  font-family: 'Helvetica Neue Bold', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

@font-face {
  font-family: 'Mantra-Alt';
  src: url(../Mantra_typeface/Alt/MantraAlt.woff);
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../HelveticalNeue/HelveticaNeue.ttf);
}

@font-face {
  font-family: 'Helvetica Neue Condensed Black';
  src: url(../HelveticalNeue/HelveticaNeue-CondensedBlack.otf);
  font-weight: strong;
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url(../HelveticalNeue/HelveticaNeue-Bold.otf);
  font-weight: strong;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #181616;
  overflow: hidden;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  width: 99vw;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #e4cdd1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

@media screen and (min-width: 601px) {
  .topnav {
    padding: 1.5rem;
  }
  .topnav a::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: #e4cdd1;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
}

a:hover::after {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: -webkit-sticky;
    position: sticky;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

section {
  margin: -10px;
}

.head-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 500px) {
  .head-container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

.head-container .header {
  color: #e4cdd1;
  padding: 2em;
  background-color: #181616;
}

.head-container .header .name {
  font-size: 22px;
}

.head-container .about-me {
  margin: 2em 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  color: #e4cdd1;
  font-size: 20px;
}

.learn-more-button {
  margin: 0 2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.projects-button {
  text-align: center;
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -ms-grid-column-align: center !important;
      justify-self: center !important;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 50px;
}

.btn:not(.projects-button) {
  background-color: #e4cdd1;
}

.btn:not(.projects-button) a {
  color: #181616;
}

.btn:not(.learn-more-button) {
  background-color: #181616;
}

.btn:not(.learn-more-button) a {
  color: #e4cdd1;
}

.btn a {
  text-decoration: none;
  font-family: 'Yantramanav', sans-serif;
}

.btn a i {
  margin-left: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.btn:hover {
  background-color: #bba7aa;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.section-2 {
  background-color: #e4cdd1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2 div {
  margin: 0 2rem 2rem 2rem;
}

.section-2 .about {
  width: 600px;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  height: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.section-2 .headshot {
  height: auto;
  -webkit-clip-path: circle(48% at center);
          clip-path: circle(48% at center);
  z-index: 0;
}

.section-projects {
  padding-top: 25px;
  background-color: #e4cdd1;
  color: #181616;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-projects h2 {
  max-width: 300px;
}

.section-projects h2::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #181616;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.section-projects h2:hover::after {
  width: 100%;
}

.section-projects .github-link {
  max-width: 200px;
}

.section-projects .github-link::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #181616;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.section-projects .github-link:hover::after {
  width: 100%;
}

.section-projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 800px) {
  .section-projects .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-projects .project .description {
    width: 100%;
  }
}

.section-projects .description {
  width: 33%;
  padding: 2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-projects .description a {
  text-decoration: none;
  color: #181616;
}

.section-projects .responsive {
  width: 100%;
  height: auto;
}

.section-projects .media {
  text-align: center;
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-projects video {
  width: 100% !important;
  height: auto !important;
}

.section-resume {
  padding-top: 25px;
  min-height: 100vh;
  background-color: #181616;
  padding: 20px;
  color: #e4cdd1;
}

@media screen and (min-width: 650px) {
  .section-resume .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  .section-resume .grid-container h1 {
    font-size: 48px;
    margin-bottom: 1px;
  }
  .section-resume .grid-container h1, .section-resume .grid-container h2 {
    font-family: 'Helvetica Neue Condensed Black', sans-serif;
    font-weight: bold;
  }
}

.section-resume .resume-main {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
}

.section-resume .resume-main .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-resume .resume-main .links a {
  white-space: nowrap;
  color: #e4cdd1;
  text-align: center;
  padding: 0 4px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.section-resume .resume-main .links a::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #e4cdd1;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.section-resume .resume-main .links a:hover::after {
  width: 100%;
}

.section-resume .resume-main .bio {
  margin: 12px 0;
}

.section-resume .resume-main .education {
  margin: 12px 0;
}

.section-resume .resume-main .experience h2 {
  margin: 1px;
}

.section-resume .resume-main .experience .location {
  font-size: 22px;
}

.section-resume .resume-side {
  margin-top: 44px;
  -ms-grid-column: 9;
  -ms-grid-column-span: 2;
  grid-column: 9 / 11;
}

.section-resume .resume-side .contact, .section-resume .resume-side .skills, .section-resume .resume-side .projects {
  margin: 12px 0;
}

.section-resume .resume-side .projects div:not(.subheading) {
  margin: 12px 0;
}

.section-resume .resume-side .projects .project-title {
  font-weight: bold;
}

.section-resume .resume-side .projects .languages {
  font-style: italic;
}

.section-resume .download-resume {
  background-color: #e4cdd1;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 30px;
  margin-bottom: 25px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.section-resume .download-resume a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #181616;
  margin: 0 auto;
}

.section-resume .download-resume:hover {
  background-color: #bba7aa;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.subheading {
  font-family: 'HelveticaNeue-Bold' sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

@media only screen and (min-width: 2000px) {
  section.section-projects {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=main.css.map */